<h1>Sign Up</h1>

<%= form_with model: @user, url: sign_up_path do |form| %>
  <%= render "shared/form_errors", form: form %>

  <div class="mb-3">
    <%= form.label :email %>
    <%= form.text_field :email, class: "form-control", placeholder: "steve@apple.com" %>
  </div>
  <div class="mb-3">
    <%= form.label :password %>
    <%= form.password_field :password, class: "form-control", placeholder: "password" %>
  </div>
  <div class="mb-3">
    <%= form.label :password_confirmation %>
    <%= form.password_field :password_confirmation, class: "form-control", placeholder: "password" %>
  </div>

  <div class="mb-3">
    <%= form.submit "Sign Up", class: "btn btn-primary" %>
  </div>
<% end %>